$surface-strongest: rgb(21, 21, 21);
$surface-strong: rgb(28, 28, 28);
$surface-moderate: rgb(28, 28, 28);
$surface-weak: rgb(34, 34, 34);
$surface-weakest: rgb(40, 40, 40);

$white-strongest: rgb(255, 255, 255);
$white-strong: rgba(255, 255, 255, 0.87);
$white-moderate: rgba(255, 255, 255, 0.34);
$white-weak: rgba(255, 255, 255, 0.14);
$white-weakest: rgba(255, 255, 255, 0.06);

$black-strongest: rgb(0, 0, 0);
$black-strong: rgba(0, 0, 0, 0.87);
$black-moderate: rgba(0, 0, 0, 0.42);
$black-weak: rgba(0, 0, 0, 0.15);
$black-weakest: rgba(0, 0, 0, 0.06);

$red-normal: rgb(218, 88, 88);
$red-light:rgb(227, 109, 109);
$orange-normal: rgb(237, 148, 84);
$orange-light: rgb(252, 166, 105);
$yellow-normal: rgb(232, 202, 94);
$yellow-light: rgb(250, 221, 117);
$green-normal: rgb(63, 198, 97);
$green-light: rgb(97, 214, 126);
$cyan-normal: rgb(92, 216, 230);
$cyan-light: rgb(126, 234, 246);
$blue-normal: rgb(73, 126, 233);
$blue-light: rgb(93, 141, 238);
$purple-normal: rgb(175, 135, 95);
$purple-light: rgb(195, 155, 115);
$pink-normal: rgb(213, 108, 195);
$pink-light: rgb(223, 129, 207);

$accent-primary: $purple-normal;
$accent-secondary: $green-normal;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};
